<%= javascript_pack_tag 'Providers' %> 
<%= react_component('Providers', usuario: current_user) %>

<!--
<div class="x_content">

  <div class="container-fluid no-padding">

    <div class="col-md-8 no-paddong-left">
          <h1>Proveedores</h1>
          <span class="count"><%# @providers.count %></span>
          <p id="count-pages"><%# page_providers_info @providers %></p>
    </div>

    <div class="col-md-4 float margin_top" >
          <%# link_to 'Nuevo Proveedor', new_provider_path, class: "btn btn-dark float" %>
    </div>

  </div>

    <table class="table table-striped jambo_table bulk_action">
      <thead>
        <tr>
          <th class="text-center">Acciones</th>
          <th>Name</th>
          <th>Phone</th>
          <th>Address</th>
          <th>Nit</th>
          <th>Web</th>
          <th>Email</th>
        </tr>
     </thead>

  <tbody>
    <%# @providers.each do |provider| %>
      <tr>
        <td style="text-align: center;">

          <div class="dropdown">
            <button type="button" class="btn btn-dark  dropdown-toggle" data-toggle="dropdown">
              <i class="fas fa-align-left"></i>
            </button>
            <div class="dropdown-menu">

              <div class="col-md-12 no-padding-left">  
                <%# link_to provider, class: "dropdown-item" do %>
                  <i class="far fa-eye"></i> Ver Registro
                <%# end -%>
              </div>

              <div class="col-md-12 no-padding-left">  
                <%# link_to edit_provider_path(provider), class: "dropdown-item" do %>
                  <i class="fas fa-pencil-alt"></i> Editar Registro
                <%# end -%>
              </div>

              <div class="col-md-12 no-padding-left">  
                <%# link_to provider, method: :delete, data: {
                  confirm: '¿Estas Seguro?',
                  'confirm-button-text': 'Borrar',
                  'cancel-button-text': 'Cancelar',
                  'confirm-button-color': '#CC0000',
                   text: 'Recuerda que el registro se borrara permanentemente',
                  'image-url': ''}, class: "dropdown-item" do %>
                  <span class="glyphicon glyphicon-trash"></span> Eliminar 
                <%# end -%>
              </div>

            </div>
          </div>

        </td>

        <td><%# provider.name %></td>
        <td><%# provider.phone %></td>
        <td><%# provider.address %></td>
        <td><%# provider.nit %></td>
        <td><%# provider.web %></td>
        <td><%# provider.email %></td>
    
      </tr>
    <%# end %>
  </tbody>
</table>
-->
