<div class="container">
	<div class="row">
		<div class="col-md-12 text-center">
			<br><br><br>
			<img src="https://mybc1.s3.amazonaws.com/uploads/rseguimiento/evidencia/433/Captura_de_pantalla_2019-04-09_a_la_s__11.26.05_a._m..png"><br>
			<h1 style="display: inline-block;">EL INFOMER SE APROBO EXITOSAMENTE</h1>

		</div>
	</div>
</div>

<style type="text/css">
	h1{
    padding: 30px;
    background: #ffffff;
    color: #bdbdbd;
    margin-top: 100px;
    font-size: 60px;
	}
	body{
		background: white;
	}
</style>