<div class="container">
	<div class="row">
		<div class="col-md-12">
			<%= link_to "APROBAR", aprobar_informe_path(@token), remote:true,class: "btn btn-success"%>
			<%= link_to "RECHAZAR", aprobar_informe_path(@token), remote:true ,class: "btn btn-danger"%>
		</div>
	</div>
</div>