<div class="row">
    <div class="col-md-12">
        <div class="card card-table">
            <div class="card-body">
                <%= render 'form', customer_report: @customer_report %>
            </div>
        </div>
    </div>
</div>


