<%= javascript_pack_tag 'Dashboard' %>
<%= stylesheet_pack_tag 'Dashboard' %>

<div id="Dashboard-react-component"
  data-user-name="<%= current_user.names || current_user.email %>"
  data-user-email="<%= current_user.email %>">
</div>
