<div class="content-table">

	<table id="table">
		<thead>
			<tr>
				<th class="title">CONTROLMATICA S.A.S</th>
				<th class="title">REPORTE DE SERVICIO</th>
				<td class="code">Codigo</td>
			</tr>
		</thead>
	</table>

	<div class="contenido2">
		<p><b>Contacto: </b></p> <input type="text" name="" value="asdasdasd" id="text-show">
		<p><b>Contacto: </b></p> <input type="text" name="" value="asdasdasd" id="text-show">
	</div>

	<div class="contenido2">
		<p><b>Contacto: </b></p> <input type="text" name="" value="asdasdasd" id="text-show">
		<p><b>Contacto: </b></p> <input type="text" name="" value="asdasdasd" id="text-show">
	</div>

	<div class="contenido">
		<p align="center"><b>ACTIVIDADES</b></p>
	</div>
		<table id="customers">
			<thead>
				<tr>
					<th class="title-header" colspan="1">Fecha</th>
					<th class="title-header">Horas</th>
					<th class="title-header">Empleado</th>
					<th class="title-header">Descripcion</th>
				</tr>
			</thead>

			<tbody >
				<tr>
					<td>adasd</td>
					<td>12</td>
					<td>salazar-moncada-estiven@hotmail.com</td>
					<td>asdasdasdasdasdasdasdadasd</td>
				</tr>

				<tr>
					<td>adasd</td>
					<td>12</td>
					<td>salazar-moncada-estiven@hotmail.com</td>
					<td>asdasdasdasdasdasdasdadasd</td>
				</tr>

				<tr>
					<td>adasd</td>
					<td>12</td>
					<td>salazar-moncada-estiven@hotmail.com</td>
					<td>asdasdasdasdasdasdasdadasd</td>
				</tr>

				<tr>
					<td>adasd</td>
					<td>12</td>
					<td>salazar-moncada-estiven@hotmail.com</td>
					<td>asdasdasdasdasdasdasdadasd</td>
				</tr>
			</tbody>
		</table>
			<br><br>
	<div class="contenido3 move">
		<h3>EMPLEADO CONTROLMATICA S.A.S</h3>
		<p><b>Nombre: </b></p> <input type="text" name="" value="asdasdasd" id="text-show"><br><br>
		<p><b>Firma: </b></p> <input type="text" name="" value="asdasdasd" id="text-show">
	</div>


</div>



