<% if params[:location].present? %>
    var select = '<label>Reporte</label>' '<br>' +
                  '<select name="customer_report[report_ids][]" multiple="multiple" class="form form-control chosen-select2 valid" id="user-reports" aria-invalid="false">' +
                    	'<% @report.where.not(customer_id: nil).each do |cliente| %>' +
                            '<option value="<%= cliente.id %>"><%= cliente.code_report %></option>' +
                        '<% end -%>' +
                 '</select>' +

                 '<script type="text/javascript">' +
                 	'$(".chosen-select2").chosen({' +
					  'allow_single_deselect: true,' +
					  'no_results_text: "No hay resultados",' +
					  'placeholder_text_single: "Seleccione una opción",' +
					  'placeholder_text_multiple: "Seleccione una varias opciones"' +
					'});' +
                 '</script>';

	$(".add_report").html(select);
<% end %>

$(".add_client").html("<%= j render 'chosen_centro', centro_costo: @centro %>");