<button class="button" id="aprobar">APROBAR</button>
<script>
	
$('#aprobar').on('click', function(){

	 $.get( "https://controlmaticatest.herokuapp.com/aprobar_informe/a355e0ea22bf9dc57ca6f6c06cf210", function( data ) {
  		$( ".result" ).html( data );
 		 alert( "Load was performed." );
		});

     return false;


})




</script>