
<% if Rails.env.production? %> 
<a href="https://controlmaticatest.herokuapp.com/aprobar_informe/<%=@customer_report.token%>">
APROBAR</a>
<%else%>
<a href="http://localhost:3000/aprobar_informe/<%=@customer_report.token%>">
APROBAR</a>
<%end%>