<p>Hola, el reporte de servicio <%=@customer_report.report_code%>, fue aprobado</p>
<br>

<p>Descripcion del reporte: <%=@customer_report.cost_center.description%></p>
<br> 
<a rel="stylesheet" href="https://controlmatica.herokuapp.com/cost_centers/<%=@customer_report.cost_center.id%>%>">Ir a la aplicacion </a>
