


<p>Estimado, adjunto encontrara el reporte de servicio <%=@customer_report.report_code%>, le agredecemos revisar su contenido y confirmar su aprobacion haciendo click en el boton verde. en caso de no estar de acuerdo favor responder este correo con los motivos de la no aceptacion.</p>
<br>
<% if Rails.env.production? %> 
<a href="https://controlmatica.herokuapp.com/aprobar_informe/<%=@customer_report.token%>" style= "  text-decoration:none;
  background:#54b362;
  padding:10px 20px;
  color:white;
  border-radius:5px;">
APROBAR</a>
<%else%>



<a href="http://localhost:3000/aprobar_informe/<%=@customer_report.token%>" style= "  text-decoration:none;
  background:#54b362;
  padding:10px 20px;
  color:white;
  border-radius:5px;">
APROBAR</a>
<%end%>

<br>
<br>
<p>Atentamente</p>


<strong> <%=@customer_report.user.names%></strong> <br><br>
<img width="200px" src="https://mybc1.s3.amazonaws.com/uploads/rseguimiento/evidencia/433/Captura_de_pantalla_2019-04-09_a_la_s__11.26.05_a._m..png">


