
    <table id="table">
      <thead>
        <tr>
          <th class="title-firms" width="40%">
            <input type="text" class="form form-control border-imput">
            <label style="font-size: 20px;">APROBO</label>
          </th>

          <th class="title-firms" width="40%">
            <input type="text" class="form form-control border-imput" value="<%= @expense_ratio.user_direction.names %>" >
            <label style="font-size: 20px;">REVISO</label>
          </th>

          <th class="title-firms" width="40%">
            <input type="text" class="form form-control border-imput">
            <label style="font-size: 20px;">INGENIERO</label>
          </th>
        </tr>
      </thead>
    </table>

<style type="text/css" media="screen">
  .title-td{
    padding-left: 30px !important;
  }

  .info-td{
    border-bottom: 1px solid gray;
    width: 33%;
    padding-right: 20px;
  }

  .table-info td{
    font-size: 20px !important;
    padding: 5px;
    text-align: center;
  }

  .move{
    position: absolute;
    top: 1640px;
  }

  #customers {
    border-collapse: collapse;
    width: 100%;
    margin-left: 0px;
  }

  #customers td, #customers th {
    border: 1px solid black;
    padding: 8px;
  }

  #table-total {
    position:absolute;
    right:0px;
    border-collapse: collapse;
    width:400px;
    margin-left: 0px;
  }

  #table-total td, #table-total th {
    border: 1px solid black;
    padding: 8px;
  }

  #text-show{
    border-right: none;
    border-top: none;
    border-left: none;
    width: 1300px;
    margin-right: 15px;
  }

  #customers tr:nth-child(even){}

  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #2a3f54;
    color: white;
  }
  #table2{
    border-collapse: collapse;
    width: 99%;
    margin-left: 5px;
  }

  .contenido2{
    width: 1300px;
    margin-left: 60px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .contenido3{
    width: 1300px;
    margin-left: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .contenido3 p{
    display: inline-block;
  }

  .contenido2 p{
    display: inline-block;
  }

  .contenido p{
    margin-top: 3px;
    margin-bottom: 3px;
  }

  #table{
    width: 100%%;
    border-collapse: collapse;
  }

  .contenido{
    border: 1px solid black !important;
    padding: 10px !important;
    width: 1300px;
  }

  #title-date{
    border: 1px solid black !important;
    text-align: center;
    width: 1300px !important;
  }

  .title-header{
    text-align: center
  }

  .text{
    display: block;
  }

  .title{
    padding: 20px;
    border: 1px solid black !important;
    text-align: center;
    width: 30% !important;
  }
  
  .title-firms{
    padding: 20px;
    text-align: center;
    width: 30% !important;
  }

  .title-imagen{
    padding: 20px;
    border: 1px solid black !important;
    text-align: center;
  }

  .code{
    border: 1px solid black !important;
    text-align: center;
  }

  .only-border{
    border-top: 1px solid black !important; 
  }
  .rev td{
    text-align: center;
    padding: 5px;
  }

  .rev{
    width: 100%;
  }

  .border-imput{
      border-right: initial !important;
      border-top: initial !important;
      border-left: initial !important;
      border-bottom-color: black;
      width: 100% !important;
  }

  .marca_de_agua{
    font-size: 144px;
    position: absolute;
    top: 642px;
    left: 250px;
    font-family: sans-serif;
    color: rgba(228, 228, 228, 0.5803921568627451);
  }

  .row{
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }

  .col-md-6{
    position: relative;
    width: 50%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
  
</style>
